.f8hhs {
    white-space: nowrap !important;
    flex-shrink: 0 !important
}

.fteou {
    width: 60px !important
}

.wnxet {
    width: 70px !important
}

.jxdsf {
    width: 80px !important
}

.rus6z {
    width: 90px !important
}

.p5gv7 {
    width: 100px !important
}

.xqdxm {
    width: 110px !important
}

.na583 {
    width: 120px !important
}

.z38ih {
    width: 130px !important
}

.bw1se {
    width: 140px !important
}

.fbumq {
    width: 150px !important
}

.gyq2b {
    width: 160px !important
}

.fol74 {
    width: 170px !important
}

.x4911 {
    width: 180px !important
}

.aruv0 {
    width: 190px !important
}

.zlbud {
    width: 200px !important
}

.on332 {
    width: 210px !important
}

.vd7im {
    width: 220px !important
}

.l2uxv {
    width: 250px !important
}

.u9nxt {
    --bs-gutter-y: 2rem
}

.l1zo7 {
    --bs-gutter-x: 4.5rem
}

.nw274 {
    margin-left: 10px;
    margin-right: 10px
}

.effya {
    margin-left: 30px;
    margin-right: 30px
}

.n573s {
    margin-left: 10px
}

.ig3tc {
    margin-left: 17px
}

.z9jbw {
    margin-left: 23px
}

.wc7ee {
    margin-right: 10px
}

.iegp2 {
    margin-left: -2px !important
}

.bd31o {
    margin-left: -5px !important
}

.rlaq3 {
    margin-left: -10px !important
}

.ud8iq {
    margin-right: -5px !important
}

.w9b7c {
    margin-right: -7px !important
}

.vg4zc {
    margin-top: -5px !important
}

.rass8 {
    margin-top: -10px !important
}

.p5u17 {
    margin-top: 2px !important
}

.uzdym {
    margin-top: 7px !important
}

.rt3nr {
    margin-top: 30px !important
}

.y6ot0 {
    margin-bottom: 2px !important
}

.dskw0 {
    margin-bottom: 7px !important
}

.jhqq7 {
    margin-bottom: -5px !important
}

.xebvs {
    padding-left: 10px !important
}

.tu2gu {
    padding-right: 28px !important
}

.tsflv {
    min-width: 0px
}

.zpxi5 {
    cursor: default !important
}

.v26p7 {
    cursor: pointer !important
}

.link {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none
}

.link:hover {
    color: #0054a6
}

.cwhiy {
    opacity: .6
}

.n7bvk {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.psgtz {
    overflow: hidden;
    text-overflow: "-";
    white-space: nowrap
}

.eh1z1 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.q0owh {
    font-size: 12px;
    padding: 0 13px 0 11px;
    height: 24px;
    border-radius: 12px
}

.kf1w3 {
    color: #424242
}

.u9scu {
    color: #787777
}

.uzcyp {
    border-top-left-radius: .2rem !important;
    border-top-right-radius: .2rem !important
}

.ukf6f {
    border-style: dotted !important
}

.ee3km {
    display: inline-flex;
    justify-content: center;
    width: 64px;
    font-size: 20px
}

.fe1gb {
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 50% !important;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #fff;
    background-color: #5b5fc7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.vjy5c {
    color: #fff;
    background-color: #5b5fc7;
    border-color: #5b5fc7
}

.vjy5c:hover,
.vjy5c:focus,
.vjy5c:active,
.vjy5c.active,
.nahm1.dropdown-toggle.vjy5c {
    color: #fff;
    background-color: #444791;
    border-color: #444791
}

.k1ueb {
    color: #1967d2;
    background-color: #fff;
    border-color: #e5e5e5;
    font-weight: 700
}

.k1ueb:hover,
.k1ueb:focus,
.k1ueb:active,
.k1ueb.active,
.nahm1.dropdown-toggle.k1ueb {
    color: #1967d2;
    background-color: #f6f9fe
}

.qmazf {
    color: #b53471;
    background-color: #fff;
    border-color: #e5e5e5;
    font-weight: 700
}

.qmazf:hover,
.qmazf:focus,
.qmazf:active,
.qmazf.active,
.nahm1.dropdown-toggle.qmazf {
    color: #b53471;
    background-color: #f6f9fe
}

.vq6cl {
    color: #fff;
    background-color: #0b57d0;
    border-color: #0b57d0
}

.vq6cl:hover,
.vq6cl:focus,
.vq6cl:active,
.vq6cl.active,
.nahm1.dropdown-toggle.vq6cl {
    color: #fff;
    background-color: #0948ac;
    border-color: #0948ac
}

.zdtin {
    color: #5b5fc7;
    border-color: #5b5fc7
}

.zdtin:hover,
.zdtin:focus,
.zdtin:active,
.zdtin.active,
.nahm1.dropdown-toggle.zdtin {
    color: #fff;
    background-color: #5b5fc7;
    border-color: #5b5fc7
}

.lb752 {
    color: #182c61;
    border-color: #182c61
}

.lb752:hover,
.lb752:focus,
.lb752:active,
.lb752.active,
.nahm1.dropdown-toggle.lb752 {
    color: #fff;
    background-color: #182c61;
    border-color: #182c61
}

.a44d0 {
    color: #2c3a47;
    border-color: #2c3a47
}

.a44d0:hover,
.a44d0:focus,
.a44d0:active,
.a44d0.active,
.nahm1.dropdown-toggle.a44d0 {
    color: #fff;
    background-color: #2c3a47;
    border-color: #2c3a47
}

.e51uy {
    -webkit-user-select: none;
    user-select: none
}

.e51uy:hover {
    opacity: 1 !important;
    color: #0054a6 !important;
    font-weight: 700
}

.lo81d {
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center
}

.lo81d:hover {
    opacity: .8
}

.qefrx {
    cursor: pointer
}

.qefrx:hover {
    opacity: .8
}

.xz531 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.xnqrv {
    color: #5b5fc7
}

.etuw2 {
    color: #444791
}

.wt3vj {
    color: #636e72
}

.srcti {
    color: #4f585c
}

.c5ki0 {
    color: #e84393
}

.elxfj {
    color: #6c5ce7
}

.t48qp {
    color: #92c353
}

.o2kld {
    color: #0984e3
}

.lf31e {
    color: #e17055
}

.p9kp4 {
    color: #575fcf
}

.w1qml {
    color: #9ca59d
}

.frkdi {
    color: #e58e26
}

.u0uzq {
    color: #f6b93b
}

.opvss {
    color: #198754
}

.auca6 {
    color: #6ab04c
}

.zkmtd {
    color: #0969da
}

.al2v4 {
    color: #b53471
}

.ecuy7 {
    color: #2c3a47
}

.cesfd {
    color: #182c61
}

.alksd {
    color: #c2c5ce
}

.p9jx9 {
    color: #5f6368
}

.fa7sg {
    color: #4e7038
}

.kdf4j {
    background-color: #5b5fc7
}

.b9717 {
    background-color: #444791
}

.fhhfg {
    background-color: #f3f3f3
}

.btimj {
    background-color: #636e72
}

.vfp1p {
    background-color: #f0f4f9
}

.ss6bf {
    background-color: #e84393
}

.xd8e7 {
    background-color: #6c5ce7
}

.jaffe {
    background-color: #92c353
}

.gcl14 {
    background-color: #0984e3
}

.fqhj9 {
    background-color: #e17055
}

.sqm03 {
    background-color: #575fcf
}

.gq5h4 {
    background-color: #9ca59d
}

.oyw6h {
    background-color: #c8cbd4
}

.mbl3q {
    background-color: #4e7038
}

.u7vbx {
    background-color: #f6b93b
}

.ujll5 {
    background-color: #6ab04c
}

.jwx94 {
    background-color: #c2c5ce
}

.p8gc0 {
    background-color: #0969da
}

.xwmuq {
    background-color: #b53471
}

.w4lgp {
    background-color: #2c3a47
}

.h3uf1 {
    background-color: #182c61
}

.bpn6y {
    background-color: #3c6382
}

.eslqo {
    background-color: #227093
}

.i9a6j {
    background-color: #218c74
}

.tb8n8 {
    background-color: #ccae62
}

.r3fqt {
    background-color: #e77500
}

.zaoz6 {
    border-width: 0 0 1px 0;
    border-color: #dee2e6;
    border-style: solid
}

.a5410 {
    flex-shrink: 0;
    outline: 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #dee2e6;
    width: 100%;
    padding: 1px 0;
    border-radius: 1px;
    background-position: right 3px center
}

.d7zwu {
    flex-shrink: 0;
    outline: 0;
    border-width: 0;
    width: 100%;
    padding: 1px 0;
    background-color: transparent;
    background-position: right 3px center
}

.rysr6 {
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none
}

.thut0 {
    top: 25% !important
}

.xu4iw {
    font-family: osc
}

.s5cwf {
    font-family: sf
}

.i4imo {
    font-size: 14px
}

.cnq25 {
    font-size: 13px
}

.b5wn2 {
    font-size: 16px
}

.cbtmp {
    font-size: 17px
}

.cx1wo {
    font-size: 19px
}

.vqs2u {
    font-size: 20px
}

.n279g {
    font-size: 21px
}

.k5wkr {
    font-size: 22px
}

.xpfct {
    font-size: 23px
}

.m8mvb {
    font-size: 24px
}

.cf1ym {
    font-size: 42px
}

.duoho {
    font-size: 12px
}

.jwj8n {
    font-size: 11px
}

.gu5n0 {
    font-size: 10px
}

.pk8mu {
    font-size: 9px
}

.vp98h {
    font-size: 8px
}

.d2jxv {
    font-size: 7px
}

.hx4ud {
    display: inline-block;
    border-radius: 2px;
    padding: 3px 10px;
    font-size: 13px
}

.b9cwz {
    width: 33.033%
}

.dkuxq {
    width: 40%
}

.kpg4x {
    width: 45%
}

.rczpk {
    width: 50%
}

.e0z8d {
    width: 55%
}

.pw7f1 {
    width: 60%
}

.lctbp {
    width: 70%
}

.gf29h {
    width: 80%
}

.sqrf7 {
    width: 90%
}

@media(min-width:992px) {
    .ulzm3 {
        display: flex;
        justify-content: end
    }

    .aic5b {
        display: flex;
        justify-content: center
    }
}

.l8rvi {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: #0054a6;
    z-index: 500
}

.gae09 {
    -webkit-user-select: none;
    user-select: none;
    color: #fff;
    margin-top: 26px;
    margin-bottom: 100px
}

.g2z0i {
    padding: 18px 0;
    border-bottom: 1px solid #aaa8
}

.kmmqs {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: osc;
    font-size: 24px;
    font-weight: 700;
    margin: 0px 2rem
}

.ptezc {
    cursor: pointer;
    font-size: 17px;
    margin-left: 2rem;
    padding: 18px 0;
    border-bottom: 1px solid #aaa8
}

.ptezc:last-child {
    border-width: 0;
    padding-bottom: 0
}

.toggle-caret {
    font-size: 17px;
    padding: 5px 8px;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    transition: all .4s
}

.toggle-caret.collapsed {
    transform: rotate(-180deg)
}

.collapsing {
    transition: none !important
}

.l86td {
    display: flex;
    flex-direction: column;
    height: 456px
}

.h8t3u {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    padding-top: 30px;
    margin-top: auto;
    color: #fff;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, .7) calc(15vw + 2rem));
    text-shadow: 0 0 100px rgba(0, 0, 0, .6)
}

.o1vhu {
    font-family: osc;
    font-size: 45px;
    font-weight: 900;
    line-height: 65px;
    max-width: 500px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.srm2h {
    font-size: 18px;
    max-width: 600px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.sa5mx {
    font-family: osc;
    font-size: 52px;
    font-weight: 900;
    line-height: 65px;
    max-width: 700px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.xeuuc {
    font-size: 16px;
    max-width: 750px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.ylpqz {
    display: flex;
    flex-direction: column;
    height: 600px
}

.zqazj {
    font-family: cb;
    font-size: 14px;
    max-width: 600px
}

.veil {
    -webkit-user-select: none;
    user-select: none;
    height: 60px
}

.veil:before {
    content: "";
    display: block;
    height: 0px;
    box-shadow: 0 0 6rem 6rem #000000a6
}

.zt1d7 {
    cursor: pointer;
    font-size: 32px;
    padding: 4px;
    color: #fff;
    border-radius: 3px;
    border: 2px solid #fff0
}

.zt1d7:hover {
    border-color: currentColor
}

.vx88k {
    flex-grow: 1;
    min-width: 0px;
    margin-right: 3rem;
    margin-bottom: -10px
}

.vc5ja {
    display: flex;
    justify-content: end;
    color: #fff;
    font-size: 16px;
    font-weight: 900
}

.d1tst {
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    margin-left: 30px
}

.xmg2x {
    padding-bottom: 10px
}

.mv9u3 {
    display: flex;
    justify-content: end;
    color: #fff;
    font-size: 13px
}

.cd2r2 {
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    margin-left: 15px
}

.d1tst:hover>.xmg2x,
.cd2r2:hover {
    color: #ff9500
}

.n4rsa {
    font-family: osc;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #282828
}

.xc8ux {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    font-size: 16.5px;
    font-weight: 700;
    padding: 10px 0;
    margin-top: 5px;
    border-bottom: 1px solid #eee;
    color: #313131
}

.xc8ux:hover {
    color: #b53471
}

.k5w0h {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 1.6;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px
}

.bv5iz {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px
}

.cdgls {
    width: 350px;
    background-color: #fffa;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 5px;
    border-top: 3px solid #e77500
}

.plate {
    cursor: pointer;
    position: relative;
    aspect-ratio: 1.6;
    border-radius: 7px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden
}

@media(min-width:768px) {
    .plate {
        height: 100%;
        aspect-ratio: auto
    }
}

.plate:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55%;
    background: linear-gradient(180deg, transparent, #000);
    transition: height .3s cubic-bezier(.75, 0, 0, .75)
}

.plate:hover:before {
    height: 75%
}

.x6nlt {
    height: auto;
    aspect-ratio: 1.6
}

.c9pqp {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 22px;
    color: #fff
}

.k8z1b {
    cursor: pointer;
    font-family: osc;
    font-size: 24px;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.uhcm7 {
    font-size: 13px
}

.elvd6 {
    font-size: 16px;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.vqol1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 4px;
    background-color: #fff;
    border-radius: 11px
}

.mzjnp {
    cursor: pointer;
    width: 100%;
    aspect-ratio: 1.6;
    border-radius: 7px
}

.amotx {
    padding: 12px
}

.rysse {
    cursor: pointer;
    font-family: osc;
    font-size: 18px;
    font-weight: 700;
    color: #151515;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.rysse:hover,
.vqol1:hover .rysse {
    color: #0a58ca;
    text-decoration: none !important;
}

.z4l9e {
    font-size: 12px
}

.s3khj {
    font-size: 14px;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.k2rc4 {
    font-size: 13px;
    font-weight: 700;
    margin: auto 12px 0;
    padding: 12px 0;
    border-top: 1px solid #eee;
    color: #151515;
    white-space: nowrap;
    overflow: hidden
}

.ukbny {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .2s, color .2s
}

.ukbny-white {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .2s;
    color: #fff !important;
}

.ukbny-white:hover,
.plate:hover .ukbny-white,
.h8934:hover .ukbny-white,
.hm1r4:hover .ukbny-white {
    background-size: 100% 1px;
    color: #fff !important;
}

.h8934 {
    cursor: pointer
}

.h8934:hover>.ly043,
.hm1r4:hover .y4umh {
    color: #0a58ca
}

.h8934:hover .ukbny,
.hm1r4:hover .ukbny,
.plate:hover .ukbny,
.ukbny:hover {
    background-size: 100% 1px;
    color: #0a58ca
}

.h3b36 {
    width: 100%;
    aspect-ratio: 1.6;
    border-radius: 4px
}

.ly043 {
    font-family: osc;
    font-size: 22px;
    font-weight: 700;
    margin: 12px 10px 0;
    color: #282828;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.og470 {
    font-size: 12px;
    margin: 0 10px
}

.yu4z7 {
    font-size: 15px;
    margin: 8px 10px 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.hm1r4 {
    cursor: pointer;
    display: flex
}

.mjqg2 {
    width: 40%;
    max-width: 240px
}

.dsiab {
    width: 100%;
    height: 100%;
    aspect-ratio: 1.6;
    border-radius: 3px
}

@media(min-width:992px) {
    .dsiab {
        aspect-ratio: 1.7
    }
}

.bn8uh {
    width: 60%;
    margin-left: 15px;
    margin-top: -7px
}

.ei9z6 {
    width: 60%;
    margin-right: 30px;
    margin-top: 8px
}

.y4umh {
    font-family: osc;
    font-size: 21px;
    font-weight: 700;
    color: #282828;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.n2lt3 {
    font-size: 12px;
    margin-top: 5px
}

.xuojn {
    font-size: 16px;
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.ysw1b {
    font-size: 16px;
    margin-top: 8px;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.ebulw {
    cursor: pointer;
    display: flex;
    height: 100%;
    padding-bottom: 33px;
    border-bottom: 1px solid #ccc
}

.ebulw:hover {
    border-bottom-color: #0948ac
}

.ebulw:hover .fq3ey {
    color: #0948ac
}

.wackg>.cum81 {
    color: #282828
}

.cum81 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35px;
    color: #0948ac
}

.f2yxm {
    font-size: 16px
}

.r6s09 {
    font-size: 27px;
    font-weight: 900;
    line-height: 32px
}

.cgozp {
    margin-left: 22px
}

.fq3ey {
    font-size: 19px;
    color: #181818;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.mhcwm {
    font-size: 12.5px;
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.v0oxm {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    padding: 0;
    border-radius: 500px;
    align-items: center;
    justify-content: center
}

.v0oxm:hover {
    background-color: #000
}

.footer {
    background-color: #0054a6;
    color: #fff;
    font-size: 14px
}

.cbvh1 {
    font-family: osc;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px
}

.yyzp6 {
    padding: 1.5rem
}

@media(min-width:768px) {
    .yyzp6 {
        padding: 1.5rem 6rem 3.5rem
    }
}

.njgqo {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    font-size: 16px;
    margin-top: 17px;
    color: #616161
}

.njgqo:hover,
.q6bl7:hover {
    color: #000
}

.tz09v {
    font-size: 17px;
    font-weight: 900;
    padding-left: 10px;
    color: #b53471 !important;
    border-left: 3px solid #B53471
}

.y4jwt {
    font-size: 17px;
    font-weight: 900;
    color: #383838 !important
}

.s4v2q {
    margin-top: 13px;
    padding-left: 15px;
    border-left: 3px solid #FFF0
}

.gviro {
    border-color: #b53471
}

.q6bl7 {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    font-size: 15px;
    color: #616161
}

.q6bl7:not(:first-child) {
    margin-top: 13px
}

.ikjgo {
    font-weight: 900;
    color: #b53471 !important
}

.y5cfs {
    font-family: osc;
    font-size: 35px;
    line-height: 34px;
    margin-top: 5px;
    color: #151515
}

.g4zcb {
    font-size: 16px;
    text-align: justify;
    margin-top: 23px
}

.g4zcb img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px
}

.g4zcb b,
.g4zcb strong {
    color: #151515
}

.e2sle {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: 14px;
    padding: 6px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.e2sle:hover .t4xu9 {
    text-decoration: underline !important
}

.t4xu9 {
    font-size: 16px;
    margin-left: 3px
}

.ih6k0 {
    max-width: 900px;
    margin: 0 auto
}

.zjqmw {
    font-family: osc;
    font-size: 45px;
    line-height: 48px;
    margin-top: 5px;
    color: #0e29a3
}

.j2ovr {
    font-size: 14px;
    margin-top: 25px;
    color: #616161
}

.article-text {
    font-size: 17px;
    text-align: justify;
    margin-top: 20px;
    color: #4a4a4a
}

.article-text img {
    max-width: 100%;
    margin-bottom: 10px
}

.article-text b,
.article-text strong {
    color: #151515
}

@media(min-width:768px) {

    .j2ovr,
    .article-text {
        padding-left: 45px
    }
}

.article-text img {
    height: auto
}

* {
    font-synthesis: none !important
}

.wp-block-table td,
.wp-block-table th {
    padding: .5em;
    border: 1px solid;
    word-break: normal;
    width: 460px
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
    background-color: #f1f1f1
}

.admission .wp-block-table thead tr th:first-child,
.admission .wp-block-table tbody tr td:first-child {
    width: 3em;
    min-width: 3em;
    max-width: 3em;
    word-break: break-all
}

.sdg-tags {
    padding-left: 0
}

@media screen and (min-width:768px) {
    .sdg-tags {
        padding-left: 45px
    }
}

.wp-block-embed-youtube {
    display: block
}

.wp-block-embed-youtube .wp-block-embed__wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25% !important
}

.wp-block-embed-youtube .wp-block-embed__wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%
}

.has-pale-pink-background-color {
    background-color: #f78da7
}

.has-vivid-red-background-color {
    background-color: #cf2e2e
}

.has-luminous-vivid-orange-background-color {
    background-color: #ff6900
}

.has-luminous-vivid-amber-background-color {
    background-color: #fcb900
}

.has-light-green-cyan-background-color {
    background-color: #7bdcb5
}

.has-vivid-green-cyan-background-color {
    background-color: #00d084
}

.has-pale-cyan-blue-background-color {
    background-color: #8ed1fc
}

.has-vivid-cyan-blue-background-color {
    background-color: #0693e3
}

.has-very-light-gray-background-color {
    background-color: #eee
}

.has-cyan-bluish-gray-background-color {
    background-color: #abb8c3
}

.has-very-dark-gray-background-color {
    background-color: #313131
}

.has-pale-pink-color.has-pale-pink-color {
    color: #f78da7
}

.has-vivid-red-color.has-vivid-red-color {
    color: #cf2e2e
}

.has-luminous-vivid-orange-color {
    color: #ff6900
}

.has-luminous-vivid-amber-color {
    color: #fcb900
}

.has-light-green-cyan-color {
    color: #7bdcb5
}

.has-vivid-green-cyan-color {
    color: #00d084
}

.has-pale-cyan-blue-color {
    color: #8ed1fc
}

.has-vivid-cyan-blue-color {
    color: #0693e3
}

.has-very-light-gray-color {
    color: #eee
}

.has-cyan-bluish-gray-color {
    color: #abb8c3
}

.has-very-dark-gray-color {
    color: #313131
}